@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
html,
body {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0;
  background: #F5F5F5;
  font: 2.5vw/1.4 Manrope;
}
p {
  font: 20px/1.5 Manrope;
}
.header {
  padding: 25px;
}
.logo {
  width: 25%;
}
.logo img {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
}
.text-box {
  margin-right: 5%;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background: #fff;
  padding: 25px;
}
a.cont {
  display: flex;
  flex: 0 0 25%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #555;
  color: #fff;
  text-decoration: none;
}
a.cont:hover {
  background: #FFE12E;
  color: #000;
}
@media only screen and (max-width: 800px) {
  body {
    font: 5vw/1.4 Manrope;
  }
  .footer {
    flex-direction: column;
    align-items: stretch;
  }
  a.cont {
    display: flex;
    margin-top: 25px;
    padding: 50px;
  }
}